{% extends 'base.html' %}

{% block title %}Home - Zetamatrix{% endblock title %}

{% block extrastyle %}
    <style>
        .score-table {
            width: 100%;
            border-collapse: collapse;
        }

        .score-table th,
        .score-table td {
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        .score-table th {
            font-weight: bold;
        }

        .side-by-side {
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        .side-by-side .image,
        .side-by-side .view-the-zetamatrix {
            flex: 1;
            box-sizing: border-box;
        }

        .side-by-side .image img {
            width: 100%;
            height: auto;
            display: block;
        }

        .side-by-side .view-the-zetamatrix {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .view-the-zetamatrix a {
            display: block;
        }

        .daily-challenge {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            align-items: start;
        }
    </style>
{% endblock extrastyle %}

{% block content %}
    <h1>Zetamatrix</h1>

    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}, to <strong>ranked Zetamac.</strong></p>

        <form action="{% url 'start_game' %}" method="post">
            {% csrf_token %}
            <!--<select name="game_length">
                <option value="120">120 seconds</option>
                <option value="5">5 seconds (testing)</option>
            </select>-->
            <button type="submit" class="btn btn-default">start game</button>
        </form>

    {% else %}
        <!-- Display login/sign-up fields for non-authenticated users -->
        <h3>Login</h3>
        <p style="display: inline;">You must login to play, or</p> <a href="{% url 'signup' %}">sign up here</a>
        <div class="view-the-zetamatrix">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button type="submit" class="btn btn-default">Login</button>
            </form>
        </div>
    {% endif %}

    <div class="daily-challenge" style="margin-top: 30px;">
        <div class="left">
            <h3>Daily challenge</h3>
            <form id="dailyChallengeForm" action="{% url 'start_dailychallenge' %}" method="post">
                {% csrf_token %}
                <button type="button" onclick="confirmStart()" class="btn btn-primary btn-ghost">attempt now</button>
            </form>
        </div>
        <div class="right">
            <h3>Current top scores: </h3>
            {% for score in dc_scores %}
                <p>{{ score.user__username }} ({{ score.max_score }}), </p>
            {% empty %}
                <p>no attempts yet</p>
            {% endfor %}
        </div>
    </div>

    <script>
        function confirmStart() {
            var result = confirm("You only get one attempt per day. Are you sure you want to start?");
            if (result) {
                document.getElementById("dailyChallengeForm").submit();
            }
        }
    </script>

    <!--
    <h3>Your profile</h3>
    {% if user.is_authenticated %}
        <ul>
            <li>Best score:</li>
            <li>Games played:</li>
        </ul>
        
    
    {% else %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <button type="submit">Login</button>
        </form>
    {% endif %}
    -->
    <div style="margin-top: 30px;">
        <h3>Global Leaderboard (1 year)</h3>
        <table class="score-table">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            {% for score in top_scores %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ score.user__username }}</td>
                    <td>{{ score.max_score }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No scores to display</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    {% load static %}
    <div class="side-by-side">
        <div class="image">
            <img src="{% static 'images/zm-blur.jpg' %}" alt="Zetamatrix heatmap image">
        </div>
        <div class="view-the-zetamatrix">
            <h3>View the Zetamatrix</h3>
            <a href="{% url 'see_multiplication' %}">(*) multiplication</a><br>
            <a href="{% url 'see_addition' %}">(+) addition</a><br>
            <a href="{% url 'see_subtraction' %}">(-) subtraction</a><br>
            <pre>Current global contributors: {{ num_total_users }}</pre>
        </div>
    </div>

{% endblock content %}