{% extends "base.html" %}

{% block title %}Home - Zetamatrix{% endblock %}

{% block extrastyle %}
    <style>
        .home-link {
            text-align: right;
            margin: 2rem 20%
        }
    </style>
{% endblock %}

{% block content %}
    <div class="centered-container">
        <h3>Sorry.</h3>
        <p>The daily <strong>Zetamac</strong> could not be accessed</p>
        <i>{{ reason }}</i>
        <br><br>
        <div class="home-link"><a href="/game/">Go back home</a></div>
    </div>
{% endblock %}
