{% extends "base.html" %}

{% block title %}Tips, Tricks and About{% endblock title %}

{% block extrastyle %}
<style>
    .content-container {
        width: 60%; /* Adjust the width as needed */
        margin: auto; /* Centers the div horizontally */
        padding: 20px; /* Adds some spacing inside the div */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow for better aesthetics */
    }
</style>
{% endblock extrastyle %}


{% block content %}
<div class="content-container">
    <br>
    <header><h2 id="Timeline">tips & tricks</h2></header>
    <div class="terminal-timeline">
        <div class="terminal-card">
            <header>(*) multiplication</header>
            <div>
                multiplying by 5 = multiplying by 10 / 2
                <pre>24 * 5 = (24 * 10) / 2 = 240 / 2 = 120</pre><br>
                distribute! turn it into an easier question...
                <pre>65 * 14 = 130 * 7</pre>
            </div>
        </div>
        <div class="terminal-card">
            <header>(/) division</header>
            <div>
                division by 11: the first and final digit dictate the first and final digit of the quotient (most of the time)
                <pre>572 / 11 = 52</pre>
            </div>
        </div>
        <div class="terminal-card">
            <header>(+) addition</header>
            <div>
                Nothing to say here... just add them together. 
            </div>
        </div>
        <div class="terminal-card">
            <header>(-) subtraction</header>
            <div>
                breaking apart numbers 
                <pre>91 - 46 = (91 - 40) - 6</pre>

            </div>
        </div>
    </div>

    <hr>

    <h2>about zetamatrix</h2>

    It is an online competitive math platform with the secret ulterior motive of being a <b>large scale</b> data collection initiative.
    By collecting high frequency, high volume data on the way people solve mental arithmetic, we aim to <i>fully</i> understand the way humans solve the most fundamental type of math. 

    <br>

    Zetamatrix official launch video:

    <h3>This project is backed by</h3>

    <br>

    <h3>incoming features</h3>
    - 24
    - monte carlo's mansion
    - game length control (was previously a feature but unstable)

    <br>

    <h3>issues</h3>

    Please submit any found issues to this form: 
    <br>
    <br>
    <a href="/game/">Home</a>
</div>
{% endblock content %}