<!--need to query the respective models, use plotly heatmap-->
{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
    <title>Zetamatrix-Heatmap</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css" />
</head>
<body>
    <div id="heatmap"></div>

    <script type="text/javascript">
        var data = [
            {
                z: {{ heatmap_data|safe }},
                type: 'heatmap',
                colorscale: 'Viridis',  // Change the color scale
                hoverongaps: false, 
            }
        ];

        var layout = {
            title: 'Zetamatrix Multiplication Heatmap',  // Title of the heatmap
            autosize: false,  // Disable autosize to use custom width and height
            width: 1000,       // Set width
            height: 1000,      // Set height to make the plot square
            xaxis: {
                // Your x-axis configuration...
                title: 'Num 1',  // X-axis label
                dtick: 1,         // Interval between ticks
                scaleanchor: 'y',  // Ensures that scaling of x-axis is matched to y-axis
                scaleratio: 1,     // Ensures a 1:1 aspect ratio
            },
            yaxis: {
                title: 'Num 2',  // Y-axis label
                dtick: 1         // Interval between ticks
            }
        };


        Plotly.newPlot('heatmap', data, layout);
    </script>
</body>
</html>
